{% extends "layout.html" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-inverse bg-primary">
 				<a class="navbar-brand" href="/List_page">Student database</a>
 				<a class="navbar-brand" href="/">Create a student acc</a>
   			</nav>
   		</div>
		<h1 style="text-align:center;">List Page</h1>
		<div class="col">
			<table align="center" border = 1>
				<th>ID NUMBER</th>
				<th>NAME</th>
				<th>COURSE</th>
				<th>YEAR LEVEL</th>
				<th>DELETE ACCOUNT</th>
					{% for student in userDetails %}
					<tr>
						<td> {{student[0]}} 
							<br> 
							<a href="/new_id">Update</a>
						</td>
						<td> {{student[1]}} 
							<br> 
							<a href="/new_name">Update</a> 
						</td>
						<td> {{student[2]}} 
							<br> 
							<a href="/new_course">Update</a> 
						</td>
						<td> {{student[3]}} 
							<br> 
							<a href="/new_yearlv">Update</a> 
						</td>
						<td>
							<a href="/delete">Delete</a>
						</td>
					</tr>
					{% endfor %}
			</table>
		</div>
		<div class="vertical-center">
			<form align="center" action="/">
				<button type="submit">Make a new profile</button>
			</form>
		</div>
	</div>

{% endblock %}